<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>THis is the Index part</h1>
    <h2>Displays the home page where the adminw will choose what to view.</h2>

    <a href="/inventory">Go to inventory</a>
    <a href="/add-product">Add Product</a>
    <a href="/sell">Go to Sell</a>
    <a href="/maps">Go to Map</a>
    
</body>
</html>